html {
    background-image: url(https://media.giphy.com/media/qG29LdXVnLM0E/giphy.gif);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

marquee {
    color: white;
    font-size: 25px;
}

.container {
    max-width: 940px;
    margin-top: 0;
    padding-top: 0;
    margin: auto;
}

h1 {
    font-family: Papyrus;
    font-weight: bold;
    text-align: center;
    font-size: 480%;
    color: white;
}

.cardfield {
    color: white;
    width: 50%;
    margin: auto;
    text-align: middle;
}

.cardfield label {
    font-size: 25px;
    margin-left: -5px;
}

.cardfield input {
    width: 100%;
    height: 50px;
    background: black;
    border-color: orange;
    border-style: solid;
    border-width: 10px;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.cardfield * {
    margin-bottom: 50px;
}

.cardfield #ccv {
    width: 50px;
}

.cardfield select {
    margin: auto;
    background-color: black;
    padding: 25px;
    font-size: 25px;
    border-radius: 0px;
    color: white;
    border-width: 10px;
    border-color: orange;
}

.cardfield #buttonSubmit {
    padding-top: 20px;
    padding-bottom: 50px;
    border-color: black;
    color: white;
    background-color: orange;

}
x
.submitbutton {
    margin: auto;
    margin-bottom: 25px;
    display: block;
    background-color: orange;
    height: 99px;
    width: 401px;
    font-size: 25px;
    border-radius: 0px;
    color: white;
    border-width: 10px;
    border-color: black;
    background-color: orange;
}

.totallysecure {
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/*Overlay Styles*/
.overlaycontainer {
    z-index: 1000;
    position: fixed;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: orange;
    color: white;
    text-align: center;
    animation-name: popupLoad;
    animation: 1s;
    animation-iteration-count: 1;
}

.overlaycontainer h1 {
    color: white;
}

.overlaycontainer i {
    float: right;
    font-size: 35px ;
    margin: 25px;
}

.overlaycontainer img {
    margin-top: 100px;
    animation-name: ok_tilt;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*Animations*/
@keyframes ok_tilt {
    0%   {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100%   {transform: rotate(20deg);}
}

@keyframes popupLoad {
    0% {opacity: 0; transform: translate3d(10px, 0px)}
    100% {opacity: 1; transform: translate(0px, 0px,)}
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
