

body {
    font-size: 16px;
    font-family: monospace;
    color: greenyellow;
    background: #222222;
    text-align: center;
}

footer {
    text-align: center;
}

banner {
    font-size: 16px;
    font-family: monospace;
    color: white;
    text-align: center;
}



::placeholder {
    color: greenyellow;
}


a {
    color: greenyellow;
}

a:hover {
    color: greenyellow;
}

div {
    height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#computer-con {
    color: greenyellow;
}


#sourfruit {
    color: greenyellow;
}


#header1 {
    font-size: 40px
}
