
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(120deg, rgba(255,40,40,1) 11%, rgba(140,68,255,1) 69%, rgba(23,161,233,1) 92%);
    color: black;
    font-family: 'MuseoModerno', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
