body {
    height: 100%;
    width: 100%;
    background: #000;
}

body section {
    padding: .5em 1em;
}

body section p {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: #26de81;
    text-shadow: 0px 0px 10px #26de81;
}


a {
    color: greenyellow;
}


.alert {
    padding: 20px;
    background-color: greenyellow;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


footer {
    text-align: center;
}

banner {
    font-size: 16px;
    font-family: monospace;
    color: white;
    text-align: center;
}



::placeholder {
    color: greenyellow;
}

a:hover {
    color: greenyellow;
}

#content {
    max-width: 1000px;
    margin: auto;
    right: 2%;
    padding: 0;
}

#computer-con {
    color: greenyellow;
}


#sourfruit {
    color: greenyellow;
}


#header1 {
    font-size: 40px
}

